.history-list-wrapper{
  padding-top: var(--space-xl);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.history-list-wrapper .card-icon-base{
  display: none;
}

.history-actions-icons{
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

.history-actions-icons button{
  background: transparent;
  border: none;
  color: inherit;
  font-size: var(--font-size-lg);
}

.history-card-inner{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}